

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/pqisLQoeO9YTDCNnlQ9bfz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/GZMdC02DTXXx8AdUvU2etw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 300;
	src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/j-TYDdXcC_eQzhhp386SjT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/mZSs29ggGoaqrCNB3kDfZQ.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 500;
	src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/NWdMogIO7U6AtEM4dDdf_T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/trnbTfqisuuhRVI3i45C5w.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/e7URzK__gdJcp1hLJYAEag.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/I5PmmDkYShUQg-ah7wh25w.woff) format('woff');
}


body {
	font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
	background-color: #d9dae4;
	color: #666666;

}

@media (min-width: 1100px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width:1020px;
	}
}

textarea{resize: none}

.no-style {
	padding: 0;
	margin: 0;
	border: none;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.bg-color-main {
	background-color: #fff;
}

.bg-color-secondary {
	background-color: #0066cc;
}

.color-main {
	color: #0066cc;
}

.color-secondary {
	color: #d9dae4;
}

.color-ter {
	color: #666666;
}

.container > .row-fluid {
	margin-bottom: 5px;
	padding: 20px 0;
}

.container > .row-fluid > div {
	padding: 0 40px;
}

.container > .first {
	position: relative;
	padding-top: 210px;
}

.container > .contact {
	display:none;
	padding: 0;
	margin-bottom: 0;
}

.container > .contact > div {
	padding: 20px 40px;
}

.textarea {
	position: relative;
}

.send {
	position: absolute;
	bottom: 5px;
	cursor: pointer;
	right: 5px;
	display: inline-block;
	padding: 0 20px 0 0;
	font-size: 15px;
	background: transparent url(../img/send.png) right top no-repeat;
}

.intro {
	font-weight: normal;
	font-size: 32px;
	line-height: 38px;
}

.title {
	text-transform: uppercase;
	font-size: 24px;
}

.subtitle {
	font-size: 17px;
}

.tiny-text {
	font-size: 13px;
}

.contact .control-group input {
	min-height: 35px;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 70px;
}

.language, .ribbons {
	float: left;
}

.language {
	padding: 20px;}

.language, .language a {
	color: #666666;
}

.language a.active {
	color: #0066cc;
}

.ribbons {
	position: relative;
}

.ribbons div {
	background: transparent url(../img/arrow-down.png) top left;
	height: 68px;
	width: 35px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.ribbons .notactive {
	margin-top: 1px;
}

.span2-4 {
	width: 20%;
}

.row-fluid .span2-4 {
	width: 17.9487179487179488%;
}

.padd-left {
	padding-left: 15px;
}

/* PROGRESS BAR */

.meter { 
	position: relative;
	background: #d9dae4;
	float: left;
}

.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.arrow-right {
	width: 0; 
	height: 0; 
	float: left;
}

/* TIMELINE */

.timeline .meter {
	height: 10px;  /* Can be anything */
	width: 98%;
}

.timeline .arrow-right {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #d9dae4;
}

.timeline-container {
	position: relative;
}

.timeline {
	position: absolute;
	left: -26px;
	top: 19px;
	z-index: 2;
}

.checkpoint-container {
	position: relative;
	z-index: 3;
	margin-top: 10px;
}

.checkpoint {
	height: 30px;
	width: 30px;
	color: #fff;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}

.education .row-fluid {
	border-bottom: solid 1px #b2d1f0;
	padding-bottom: 15px;
	padding-top: 10px;
}

/* PROGESS SKILLS  */

.skills .meter {
	height: 30px;
	width: 94%;
}

.skills .arrow-right {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #d9dae4;
}

.skills .meter span {
	width: 0;
	background: #0066cc;
	float: left;
}

.skills .meter .arrow-right {
	border-left: 15px solid #0066cc;
}

.skills .row-fluid {
	margin-bottom: 10px;
}

/* COLLAPSE STYLE */

.container .collapse {
	padding: 0 40px;
	margin: 0;
}

.container .in {
	padding: 0 40px;
	margin: 20px 0;
}

.collapse .span8 {
	overflow: hidden;
}

.collapse .xpimg {
}

