/*
 * UTILITIES
 */
@font-face {
  font-family: 'socicon';
  src: url('fonts/socicon-webfont.eot');
  src: url('fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/socicon-webfont.woff') format('woff'),
  url('fonts/socicon-webfont.ttf') format('truetype'),
  url('fonts/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.saucisson {
  font-family: 'socicon' !important;
}

.no-underline,
.no-underline:hover,
.no-underline:focus{
  text-decoration: none;
}

.p15 {
  padding: 15px;
}

/*
 * SERIOUS BUSINESS
 */

body { padding-top: 50px;position: relative;}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar, .footer {
  margin-bottom: 0;
  background: #2d2d2d;
}

.navbar li {
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-fixed-top {
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #999999;
  display: block;
  padding: 25px 20px;
  position: relative;
  font-weight: bold;
}

.navbar-fixed-top {
  top: 0;
  overflow: hidden;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-style-underline nav a {
  padding: 0.25em 0 0.5em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.navbar-style-underline nav li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,150%,0);
  transform: translate3d(0,150%,0);
}

.navbar-style-underline nav li.nav-home a::after { background: #2CC185;}
.navbar-style-underline nav li.nav-about a::after { background: #6ac8c8;}
.navbar-style-underline nav li.nav-resume a::after { background: #f97c39;}
.navbar-style-underline nav li.nav-contact a::after { background: #ffbe00;}

.navbar-style-underline nav li.active a::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.navbar-style-underline nav a span {
  font-weight: 700;
}

a {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.overlay {
  height:100%;
  min-height:100%;
}

/* Header */
.large-header {
  position: relative;
  overflow: hidden;
  background-size: cover;
  z-index: 1;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  margin-right: -15px;
  margin-left: -15px;
  font-family: 'Raleway', Calibri, Arial, sans-serif;
  /*background: #333 url('../images/demo-1-bg.jpg') center 0 no-repeat fixed;*/
  background: #333 url(../images/jGIGWOA.jpg) center 0 repeat fixed;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.overlay {
  height: 300px;
  padding-bottom: 65px;
  background: #2d2d2d;
  filter: alpha(opacity = 90);
  background: rgba(45, 45, 45, 0.65);
  position: absolute;
  top: 0;
  width: 100%;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  margin-left: -15px;
  margin-right: -15px;
}

.title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
  -o-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.22) inset;
}

.title h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.title p {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 22px;
  position: relative;
  margin-top: 10px;
}

.about .title {
  background: #6ac8c8;
}
.skills .title {
  background: #92c14d;
}
.resume .title {
  background: #f97c39;
}
.contact .title {
  background: #ffbe00;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.inner-title {
  text-align: center;
  margin-top: 50px;
}
.inner-content {
  margin-top: 70px;
  margin-bottom: 0;
}

.inner-title h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: bold;
}

.inner-title p {
  font-size: 14px;
  color: #999999;
}

.profile {
  position: relative;
}

.profile .ico {
  display: inline-block;
}

.profile .ico a {
  background: #2D2D2D;
  border: 10px solid #FFFFFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #FFFFFF;
  display: block;
  font-size: 19px;
  height: 60px;
  line-height: 45px;
  margin: 0 auto;
  width: 60px;
  text-align: center;
}

.profile .ico a:hover {
  background: #6AC8C8;
}

.img-profile:before {
  border-top: 1px solid #EFEFEF;
  content: "";
  display: block;
  left: 50%;
  margin-left: 130px;
  position: absolute;
  top: 100px;
  width: 250px;
  z-index: 0;
}

.img-profile:after {
  border-top: 1px solid #EFEFEF;
  content: "";
  display: block;
  margin-right: 130px;
  position: absolute;
  right: 50%;
  top: 100px;
  width: 250px;
  z-index: 0;
}

.img-profile {
  height: 200px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

.img-profile img {
  height: 100%;
}

.dl-btn p,
.fol-btn p {
  color: #666666;
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 0 -13px;
}

.dl-btn {
  left: 17.2%;
  position: absolute;
  top: 32.5%;
}

.fol-btn {
  position: absolute;
  right: 17.2%;
  top: 32.5%;
}

.divider {
  margin: 50px auto 0;
  position: relative;
  text-align: center;
  width: 600px;
}

.divider span:before {
  border-bottom: 1px dashed #EFEFEF;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 0;
}

.contact-holder {
  text-align: center;
  border: 1px solid #efefef;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.address {
  position: relative;
}

.address i {
  background: none repeat scroll 0 0 #2D2D2D;
  border: 10px solid #FFFFFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  /* background-clip: padding-box; */
  color: #FFFFFF;
  display: inline-block;
  font-size: 29px;
  height: 65px;
  left: 50%;
  line-height: 45px;
  margin-left: -33px;
  position: absolute;
  top: -57px;
  width: 65px !important;
}

.address p {
  font-size: 24px;
  color: #2d2d2d;
  padding-top: 40px;
  padding-bottom: 60px;
}

.info ul {
  padding: 0;
}

.info li {
  display: inline-block;
  width: 200px;
  position: relative;
}

.resume .row {
  margin-bottom: 50px;
}

.info li .ico {
  background: #2D2D2D;
  border: 10px solid #FFFFFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #FFFFFF;
  display: inline-block;
  font-size: 20px;
  height: 60px;
  left: 50%;
  line-height: 46px;
  margin-left: -33px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.work-item {
  border-left: 1px solid #efefef;
  padding-left: 30px;
  position: relative;
}

.work-ico {
  background: #2D2D2D;
  border: 5px solid #FFFFFF;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-clip: padding-box;
  color: #FFFFFF;
  display: inline-block;
  height: 36px;
  left: -4%;
  line-height: 28px;
  margin-top: -22px;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 36px;
}

.work-desc h6 {
  color: #666666;
  font-size: 11px;
  margin-bottom: 5px;
}
.work-desc p {
  color: #999999;
  font-size: 13px;
}

.form-btn {
  background: #2D2D2D;
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  height: 45px;
  text-transform: uppercase;
  width: 80px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  float: right;
 }

.form-btn:hover {
  background: #2D2D2D;
  color: #999999;
}

.contact {
  margin-bottom: 40px;
}

.form-control {
  border-radius: 0;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: .75rem;
  right: .75rem;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  z-index: 100;
}

#toTopHover {
  display: block;
  overflow: hidden;
  float: left;
}

.from-content {
  position: relative;
}

.spinner-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}

.spinner {
  margin: 200px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

/*
 * MEDIA QUERIES
 */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  .content {
    width: 700px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .content {
    width: 400px;
  }
  .divider {
    width: 375px;
  }

  .dl-btn {
    left: -12%;
  }

  .fol-btn {
    right: -14%;
  }

  .info li .ico {
    top: -70px;
  }

  .info ul {
    margin-top: 50px;
    padding: 0;
  }

  .info li {
    height: 100px;
  }
  .info li:last-child {
    height: 50px;
  }
}

@media only screen and (max-width: 479px) {
  .content {
    width: 100%;
  }

  .main-title {
    font-size: 3em;
  }

  .divider {
    width: 100%;
  }

  .img-profile:before,.img-profile:after {
    display: none;
  }

  .profile {
    margin-bottom: 100px;
    margin-top: 150px;
  }

  .dl-btn {
    left: 34%;
    top: 107.5%;
  }

  .fol-btn {
    right: 33%;
    top: -50.5%;
  }

  .info ul {
    margin-top: 50px;
    padding: 0;
  }

  .info li {
    height: 100px;
    width: 185px;
  }

  .info li .ico {
    top: -70px;
  }

  .info li:last-child {
    height: 50px;
  }
}
